.whole{
    background-image: url(./images/homepage_background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.whole::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Adjust the alpha value for the desired transparency */
    z-index: -1; /* Place the overlay behind the content */
}
.content{
    z-index: 1;
}
.content h1 {
    color: #fff; /* Set text color to white */
    /* Add any other styles for the text headings */
  }
  
  /* Add styles for the link to the Model page */
  .content a {
    color: #00f; /* Set link color to blue */
    /* Add any other styles for the link */
  }
  
  /* Style the card for navigation to the Model page */
  .content div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
  }